In [1]:
import os
import sys
import pandas as pd
import xml.etree.cElementTree as ET
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
path = 'c:\\GITHUB\\SCOT_ATC\\dat\\'

In [3]:
# element tree of trips (no.xml extension as we are reserving that for loop through tripinfo.xml) at path
atcele = ET.parse(path+'sim\\base\\e1output.xml')
atcroot = atcele.getroot()

## define empty list
atc = []

In [4]:
## loop through xml finding all attribs and set data type
for s in atcroot.findall('interval'):
    aid = str(s.get('id'))
    sta = float(s.get('begin'))
    end = float(s.get('end'))
    nv = int(s.get('nVehContrib'))
    atc.append([aid,sta,end,nv]); ## append loop to list
    
atc = pd.DataFrame(atc)## pandas can convert a flat list or 2-d array to DataFrame
atc.columns = ['id', 'sta', 'end', 'Nv'] # rename columns

In [7]:
# split detector_lane field to 2
df = pd.DataFrame(atc['id'].str.split('_',1).tolist(),columns=['detector', 'lane'], index=atc.index)
df[:1]

   detector lane
0  ATC08058   s1

In [8]:
# merge DF to one
out = df.merge(atc, how='inner', left_index=True, right_index=True)
out.drop('id', axis=1, inplace=True)
out[:3]

   detector lane  sta   end  Nv
0  ATC08058   s1    0  3600   2
1  ATC08058   s2    0  3600   2
2  ATC08058   n1    0  3600   0

In [10]:
out.groupby(by='detector', axis=0).sum()

              sta      end    Nv
detector
108502     561600   649402   195
108690     561600   649402   547
ATC00002   561600   649402   683
ATC00003   561600   649402   152
ATC01007  1123200  1298804  1319
ATC01032   561600   649402   293
ATC01037   561600   649402   386
ATC01050   561600   649402   156
ATC01056   561600   649402   183
ATC01166   561600   649402    83
ATC01167   561600   649402    67
ATC01326   561600   649402   494
ATC01327   561600   649402   787
ATC02035   561600   649402   122
ATC02036  1123200  1298804   861
ATC03015   561600   649402   653
ATC03016   561600   649402   338
ATC03022   561600   649402  1361
ATC03025  1123200  1298804  2624
ATC03118  1123200  1298804  6531
ATC06001   561600   649402   317
ATC06002   561600   649402   360
ATC06003   561600   649402   341
ATC06006   561600   649402   443
ATC08011   561600   649402   985
ATC08058  1123200  1298804   432
ATC08060   561600   649402  1010
ATC08063   561600   649402   372
ATC08086   561600   649402  3261
ATC08090   561600   649402   865
ATC08119   561600   649402   994
ATCPT003   561600   649402  1392
ATCSW033   561600   649402  2017
JTC00057  1123200  1298804  3474
JTC00145   561600   649402   341
JTC19203  1123200  1298804  2033